{% extends 'admin/adminbase.html' %}

{% block body %}
 
  <div class="container" style="margin-bottom: 300px;">
    <p style="font-size: 30px; font-weight: 700; font-style: italic; padding: 50px; margin-bottom: 30px;" class="text-center"> Users </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Users</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ user.username }}</td>
          <td><a href="{% url 'deleteuser' user.id %}" class="btn btn-danger">Delete user</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
